<!-- START row-->
<div class="row" *ngIf="student">
  <div class="col-md-6">
      <!-- START card-->
      <div class="card card-default">
          <div class="card-header">Info </div>
          <div class="card-body">

                <div class="form-group"> 
                  <label>Id</label>

                  <input  class="form-control" type="text" readonly value="{{student.id}}">
                  </div>

                  <div class="form-group">
                      <label>Student Name</label>
                      <input class="form-control" type="text" readonly  value="{{student.name}}"/>
                  </div>
                  
                  <div class="form-group">
                    <label>Student Username</label>
                    <input class="form-control" type="text" readonly value="{{student.normalizedUserName}}" />
                </div>

                <div class="form-group">
                  <label>Student Password</label>
                  <input class="form-control" type="text" readonly value="{{student.password}}" />
              </div>
              
                <div class="form-group">
                  <label>Student Education Detail</label>
                  <input class="form-control" type="text" readonly value="{{student.educationDetail}}" />
              </div>

              <div class="form-group">
                <label>Student Personal Detail</label>
                <input class="form-control" type="text" readonly value="{{student.personalDetail}}" />
            </div>

        
              

          </div>
      </div>
      <!-- END card-->
  </div>
  
  <div class="col-md-6">
    <!-- START card-->
    <div class="card card-default">
        <div class="card-header">Delete form</div>
        <div class="card-body">
            <form class="form-horizontal" [formGroup]="deleteForm">

              <div class="form-group">
                <input type="checkbox" type="checkbox" formControlName="check" id="check" required style="margin-right:5px;"/>
                <label> Confirm</label>

              </div>
                <button type="submit" class="btn btn-sm btn-secondary"  [disabled]="deleteForm.invalid" (click)="deleteStudent(student.id)">Delete</button>

            </form>
            
            <ul class="list-group mt-4" style="border:2px solid gray;" *ngIf="delMessage">
              <li class="list-group-item">{{delMessage}}</li>
          </ul>
        </div>
    </div>
    <!-- END card-->
</div>
</div>
<!-- END row-->
<hr>
<div class="row">

<div class="col-md-8 offset-2" *ngIf="studentCourses.length>0 && student; else notFound">
<table class="table table-striped">
<thead>
  <tr>   
     <th scope="col">Student Course ID</th>

    <th scope="col">Course ID</th>

    <th scope="col">Course Name</th>
    <th scope="col">Duration</th>
    <th scope="col">Course Fees</th>
    <th scope="col">Remaining Fees</th>

    <th scope="col">Update Fees</th>

  </tr>
</thead>
<tbody>
  <tr *ngFor="let course of studentCourses">

      
    <td>{{course.scid}}</td>




    <td>{{course.cid}}</td>
    <td>{{course.cName}}</td>
    <td>{{course.duration}}</td>
    <td>{{course.feesCourse}}</td>
    <td>{{course.feesStudent}}</td>

    <td> 
      
    
        <button type="button" class="btn btn-primary" (click)="openModal(template,course.scid,course.cid,course.feesStudent)">Update Fees</button>

      </td>    
    </tr>
</tbody>
</table>
</div>

<ng-template #notFound>

<div class="alert alert-danger col-md-8 offset-2" role="alert">
Student Course Not Found.
</div>

</ng-template>


</div>





<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
  </div>
  <div class="modal-body">
    <form role="form" [formGroup]="updateForm" (ngSubmit)="onUpdate($event, updateForm.value)">



      <div class="form-group"> 
        <input formControlName="scid" class="form-control" type="number" required readonly hidden>
        </div>     
        <div class="form-group"> 
          <input formControlName="cid" class="form-control" type="number" required readonly hidden>
          </div>        <div class="form-group"> 
            <input formControlName="sid" class="form-control" type="number" required readonly hidden>
            </div>  
       
        <div class="form-group">
          <label>New Fees</label>
          <input class="form-control" type="number" formControlName="fees" required />
          <div class="text-danger" *ngIf="updateForm.controls['fees'].hasError('required') && (updateForm.controls['fees'].dirty || updateForm.controls['fees'].touched)">This field is required</div>
      </div>
    

      <button type="submit" class="btn btn-sm btn-secondary"  [disabled]="updateForm.invalid">Update</button>
    </form>
    <ul class="list-group mt-4" style="border:2px solid gray;" *ngIf="feesMessage">
      <li class="list-group-item">{{feesMessage}}</li>
  </ul>
  </div>
</ng-template>