
<!-- START row-->
<div class="row" *ngIf="course">
  <div class="col-md-6">
      <!-- START card-->
      <div class="card card-default">
          <div class="card-header">Update Form</div>
          <div class="card-body">
              <form role="form" [formGroup]="updateForm" (ngSubmit)="onUpdate($event, updateForm.value)">

                <div class="form-group"> 
                  <input formControlName="cid" class="form-control" type="text" required readonly hidden>
                  </div>

                  <div class="form-group">
                      <label>Course Name</label>
                      <input class="form-control" type="text" formControlName="cName" />
                      <div class="text-danger" *ngIf="updateForm.controls['cName'].hasError('required') && (updateForm.controls['cName'].dirty || updateForm.controls['cName'].touched)">This field is required</div>
                  </div>
                  
                  <div class="form-group">

                    <label for="tid">Choose a Course Teacher:</label>
      
                    <select class="form-control" formControlName="tid" id="tid">
                      <option  *ngFor="let teacher of teachers" value="{{teacher.id}}">{{teacher.name}}</option>
                
                    </select> 
      
            </div>

                <div class="form-group">
                  <label>Fees</label>
                  <input class="form-control" type="number" formControlName="fees" />
                  <div class="text-danger" *ngIf="updateForm.controls['fees'].hasError('required') && (updateForm.controls['fees'].dirty || updateForm.controls['fees'].touched)">This field is required</div>
              </div>
              


              <div class="form-group">
                <label>Duration</label>
                <input class="form-control" type="date" formControlName="duration" />
                <div class="text-danger" *ngIf="updateForm.controls['duration'].hasError('required') && (updateForm.controls['duration'].dirty || updateForm.controls['duration'].touched)">This field is required</div>
            </div>


                <button type="submit" class="btn btn-sm btn-secondary"  [disabled]="updateForm.invalid">Update</button>
              </form>
              
              <ul class="list-group mt-4" style="border:2px solid gray;" *ngIf="upMessage">
                <li class="list-group-item">{{upMessage}}</li>
            </ul>
          </div>
      </div>
      <!-- END card-->
  </div>
  <div class="col-md-6">
      <!-- START card-->
      <div class="card card-default">
          <div class="card-header">Delete form</div>
          <div class="card-body">
              <form class="form-horizontal" [formGroup]="deleteForm" (ngSubmit)="onDelete(deleteForm.value)">
                <div class="form-group"> 
                  <input formControlName="cid" class="form-control" type="text" required readonly hidden>
                  </div>
                  <div class="form-group">
                    <input type="checkbox" type="checkbox" formControlName="check" id="check" required style="margin-right:5px;"/>
                    <label> Confirm</label>

                  </div>

                  <button type="submit" class="btn btn-sm btn-secondary"  [disabled]="deleteForm.invalid">Delete</button>

              </form>
              
              <ul class="list-group mt-4" style="border:2px solid gray;" *ngIf="delMessage">
                <li class="list-group-item">{{delMessage}}</li>
            </ul>
          </div>
      </div>
      <!-- END card-->


      <div *ngIf="contents?.length>0;else notFoundContent">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="text-center">Content</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let content of contents">
              <td>{{content.content}}</td>
            </tr>
            <tr>
          </tbody>
        </table>
    
    
      </div>
      <ng-template #notFoundContent  >
    
        <div class="alert alert-danger col-md-8" role="alert">
      Content Not Found!
      </div>
      </ng-template>
  </div>
</div>

  <div *ngIf="students.length > 0; else notFound" class="row">
    <div class="col-md-8 offset-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Detail</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.name }}</td>
            <td>
              <a class="btn btn-info" [routerLink]="['/admin/student/' + student.sid]">Detail</a>
            </td>
          </tr>
        </tbody>
      </table>
  
      <ng-template #notFound>
        <div class="alert alert-danger text-center col-md-8 offset-2" role="alert">
Registered Student Not Found!
        </div>
      </ng-template>
      
    </div>
  </div>

<!-- END row-->

