<div class="row" >

  <div class="alert alert-info text-center col-md-8" role="alert" *ngIf="message">
{{message}}
      </div>


    </div>
      <div class="row" >

<div class="col-md-8" *ngIf="contents?.length>0;else notFound">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Content</th>
        <th scope="col">Delete Content</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let content of contents">
        <td>{{content.tcid}}</td>
        <td>{{content.content}}</td>

        <td><button type="submit" class="btn btn-sm btn-secondary"  (click)="deleteContent(content.tcid)">Delete</button></td>

      </tr>
      <tr>
    </tbody>
  </table>
  

</div>

<ng-template #notFound  >

  <div class="alert alert-danger col-md-8" role="alert">
Content Not Found!
</div>
</ng-template>


<div class="col-md-3">
  <form role="form" [formGroup]="insertForm" (ngSubmit)="submitForm(insertForm.value)">

    <div class="form-group">
        <label>Course ID</label>
        <input class="form-control" type="text" formControlName="cid" readonly/>
    </div>
    
    <div class="form-group">
      <label>Teacher ID</label>
      <input class="form-control" type="text" formControlName="tid" readonly/>
  </div>


  <div class="form-group">
    <label>Content</label>
    <input class="form-control" type="text" formControlName="content" />
    <div class="text-danger" *ngIf="insertForm.controls['content'].hasError('required') && (insertForm.controls['content'].dirty || insertForm.controls['content'].touched)">This field is required</div>
</div>

  <button type="submit" class="btn btn-sm btn-secondary"  [disabled]="insertForm.invalid">Add Content</button>
</form>
</div>



</div>

